/* 
    Created on : 08-Feb-2014, 15:57:02
    Author     : Craig Bentall 10350172
    Description: CSS page for website
 */
body {
    font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    font-style: oblique;
    font-stretch: ultra-condensed;
    font-size: 18px;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px 0;
}
header, .feature, footer {
    margin: 1%;
}
header {
    padding: 0 25px;
    margin: 0 auto;
}
li {
    padding: 2px;
}
footer li {
    display: inline;
}
footer {
    background-color: #F5F5DC;
    padding: 2px 0;
}
#logo, #nav {
    float: left;
}
#nav ul {
    margin: 0;
    padding: 0;
    padding-top: 80px;      
    overflow: hidden;    
}
#nav ul li {
    width: 100px;
    border-right: 1px solid #bababa;
    border-bottom: 1px solid #bababa;
    list-style: none;
    float: left;
    font-size: 93%;
}
#nav ul li a:link,
#nav ul li a:visited {
    display: block;
    padding: 17px 10px;
    text-decoration: none;
    color: #000;
}
#nav {
    width: 80%;
}
.form {
    width: 250px;
    background-color: #F5F5DC;
    margin-left: -200px;
    margin-top: 70px;
    float: left;
    border: 1px solid #999;
    font-size: 14px;
}
.form ul {
    list-style: none;
}
.form p {
    font-weight: bold;
    padding-left: 40px;
}
#logo {
    width: 100px;
}
.body_content {
    padding: 20px 0;
    background-color: #FFF;
}
section {
            border-left: solid 1px #999;
                border-right: solid 1px #999;
}
.inside_content {
    max-width: 1100px;
    padding: 0 25px;
    margin: 0 auto;
    overflow: hidden;
}
.feature {
    background-color: #F5F5DC;
    margin-bottom: 20px;
    height: 380px;
}
.other {
    height: 100px;
}
.other2 {
    height: 200px;    
}
.service_list {
    background-color: #F5F5DC;    
}
.statement {
    height: 300px;    
}
#slideShow {
    float: right;
    height: 300px;
    width: 500px;
    padding-right: 50px;
}
.wrapper {
    background-color: #FFF;
    margin: 30px 40px 30px 40px;
    padding-top: 10px;
    border: 1px solid #999;
}
#slideShow img {
    height: 250px;
    width: 390px;
    padding: 15px;
}
.statement {
    height: 150px;
    width: 400px;
    padding: 20px 0 0 10px;
}
.feature2 {
    background-color: #F5F5DC;
    width: 250px;
    border: 1px solid #999;
    margin-bottom: 10px;
    padding-left: 5px;
    font-size: 14px;
}
.feature2 ul {
    list-style: none;    
}
.feature2 p {
    font-weight: bold;
    padding-left: 40px;
}
.main {
    padding-bottom: 50px;
    overflow: hidden;
}
.review ul {
    border-bottom: solid 10px white;
    list-style-type: none;
    padding-left: 50px;
    padding-right: 50px;
}
.space {
    height: 300px;
}
.column1, .column2, .column3 {
    height: 500px;
    width: 30%;
    float: left;
    margin: 0 5% 20px 0;
    background-color: #F5F5DC;
}
.column1 p, .column2 p, .column3 p {
    padding-left: 5px;
}
.column3 {
    margin: 0;
}
.columnImage {
    height: 200px;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border: 1px solid #999;
}
.columnImage img {
    height: 195px;
    width: 310px;
}
footer {
    clear: both;
}
footer ul {
    text-align: center;
}
@media screen and (max-width: 1100px) {
    .form {
        margin-left: 0px;
    }    
}
@media screen and (max-width: 900px) {
    #nav ul li {
     width: 40%;
    }
    #slideShow {
        width: 400px;
    }
    #slideShow img {
        width: 295px;
        padding: 10px;
    }
    .statement {
        width: 350px;
        margin: 40px;
    }
    .column1, .column2, .column3 {
        width: 47.5%;
    }
    .column2 {
        margin: 0;
    }
    .column3 {
        clear: both;
        float: none;
        width: auto;
        padding: 20px 0 0 0;
    }
    .column3 {
        width: 100%;
        padding-left: 250px;
    }
    .column3 p {
        width: 350px;
        padding-left: 20px;
    }
    .column3 li {
        width: 350px;
        padding-left: 20px;        
    }
    .columnImage {
        padding-left: 30px;
        padding-right: 30px;
    }
    .image3 {
        padding-left: 30px;
        padding-right: 30px;
        width: 300px;
        margin: 20px;
    }
    .other2 {
    height: 250px;    
    }
}
@media screen and (max-width: 800px) {
    #slideShow {
        margin-top: 40px;
        padding-right: 5px;
        width: 380px;
    }
    .wrapper {
        margin: 0 40px 20px 40px;
    }
    #slideShow img {
        width: 275px;
        padding: 10px;
    }
    .statement {
        width: 350px;
        margin: 50px;
    }
    .other2 p {
        width: 500px;
    }
    .columnImage {
        padding-left: 20px;
        padding-right: 20px;
    }
    .image3 {
        padding-left: 30px;
        padding-right: 30px;
        width: 300px;
        margin-left: 10px;
    }
    .column3 {
        padding-left: 180px; 
    }
    .other2 {
        height: 300px;    
    }    
}
@media screen and (max-width: 765px) {
    #slideShow {
        display: none;
    }
    .feature {
        height: 350px;
    }
    .f2 {
        height: 150px;
    }
    .other2 {
        height: 300px;
    }
    .other3 {
        height: 500px;
    }
    .statement {
        width: 500px;
    }
    .column3 {
        padding-left: 150px;
    }
    
}
@media screen and (max-width: 695px) {
    .column3 {
        padding-left: 110px;
    } 
    .column3 li {
        width: 300px;
        padding-left: 20px;        
    }    
}
@media screen and (max-width: 650px) {
    .column3 {
        padding-left: 100px;
    }      
}
@media screen and (max-width: 595px) {
    .statement {
        width: 350px;
        margin: 50px;
    }    
    .inside_content {
        min-width: 250px;
    }
    #nav ul li {
        width: 50%;
    }
    .columnImage {
        padding-left: 10px;
        padding-right: 10px;
    }
    .column3 {
        padding-left: 90px;
    }      
}
@media screen and (max-width: 550px) {
    .columnImage {
        padding-left: 40px;
        padding-right: 40px;
    }    
    .column3 {
        padding-left: 50px;
    }      
}
@media screen and (max-width: 500px) {
    .mobile-collapse {
        width: auto;
        float: none;
        margin: 10px;
    }
    .hide_mobile {
        display: none;        
    }
        .other3 {
        display: block;
        height: 600px;
    }
    .column3 {
        padding-left: 10px;
    }     
}
